
@{
    ViewData["Title"] = "Criar Rede";
}

<h1>Criar Rede</h1>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputName">Nome</label>
            <input type="text" id="inputName" name="Name" class="form-control" required>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-success">Criar</button>
    </div>

    @if (ViewBag.ReturnUrl != null)
    {
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
    }
</form>